#welcome
  %h1 Welcome#index
  %p Find me in app/views/welcome/index.html.haml
  = link_to new_news_path, class: 'btn btn-danger' do
    %i.fa.fa-pencil
    ニュースを投稿する

  = link_to new_user_registration_path, class: 'btn btn-success' do
    %i.fa.fa-pencil
    ユーザー登録


