// Place all the styles related to the news controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin rounded_corners($radius: 3px) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

$mainColor: rgb(74, 175, 58);

.navbar-brand {
  color: #fff !important;
}

body {
  background-color: rgb(235,235,235);
  #mainContents {
    margin-top: 50px;
    #news {
      .form-group {
        padding: 10px 0;
      }
    }
    #welcome {
      margin: 0 auto;
      width: 1000px;
      @include rounded_corners(2px);
      background-color: #fff;
      padding: 30px;
      ul#newsWrapper {
        li {
          list-style-type: none;
          padding: 10px;
          border-bottom: 1px solid #aaa;
          p.rankingIcon {
            @include rounded_corners(3px);
            background-color: $mainColor;
            color: #fff;
            width: 40px;
            height: 40px;
            text-align: center;
            margin-right: 10px;
            float: left;
            font-size: 30px;
            line-height: 40px;
          }
        }
      }
    }
  }
}
