// Place all the styles related to the news controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin rounded_corners($radius: 3px) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

$mainColor: #00c349;

$grayColor: #999;

.main-color { color: $mainColor }
.gray-color { color: $grayColor }

.red-color { color: #d9534f }

.navbar-brand { color: #fff !important; }

.navbar-default {
  background-color: $mainColor !important;
  border-color: $mainColor !important;
}
.btn-facebook {
  background-color: #425f9c !important;
  border-color: #425f9c !important;
}

body { background-color: rgb(235,235,235) !important; }

body {
  background-color: rgb(235,235,235) !important;
  padding: 50px;
  #mainContents {
    margin: 50px auto 0;
    padding: 40px;
    @include rounded_corners(2px);
    background-color: #fff;
    width: 975px;
    #news {
      .form-group {
        padding: 10px 0;
      }
      ul#comments {
        margin-bottom: 20px;
        padding: 0;
        li.comment {
          list-style-type: none;
          padding: 8px 0;
        }
      }
      #new {
        h1 {
          margin: 0 0 20px;
        }
      }
      #show {
        h3 {
          margin: 0 0 20px;
        }
      }
      #jump {
        h3 {
          margin: 0 0 20px;
        }
      }
    }
    #welcome {
      .Btns {
        margin-bottom: 10px;
      }
    }
    #users {
      #show {
        h4 {
          margin: 30px 0 20px;
        }
        h1 {
          margin: 0;
        }
      }
    }
  }
  ul#newsWrapper {
    padding: 0;
    li.newsList {
      list-style-type: none;
      padding: 20px 0 10px;
      border-bottom: 1px solid #aaa;
      vertical-align: middle;
      .rankingIcon {
        float: left;
        @include rounded_corners(3px);
        background-color: $mainColor;
        color: #fff;
        width: 40px;
        height: 40px;
        text-align: center;
        margin: auto 10px;
        float: left;
        font-size: 30px;
        line-height: 40px;
      }
      .voteInfo {
        float: left;
        width: 50px;
        height: 50px;
        text-align: center;
        color: $grayColor !important;
        .voteBtn {
          font-size: 30px;
          line-height: 30px;
          margin-bottom: -10px;
          a {
            color: $grayColor !important;
            &:hover {
              color: $mainColor !important;
            }
          }
        }
        .voteCount {
          font-size: 20px;
          line-height: 20px;
          margin: 0;
        }
      }
      .newsContents {
        float: left;
        h2 {
          font-size: 25px;
          margin: 0 0 5px 0;
          a.deleteBtn { color: $grayColor !important; }

        }
        .detail {
          color: $grayColor;
        }
      }
      .commentBtn {
        float: right;
        text-align: center;
        .commentIcon {
          color: $grayColor;
        }
        .commentCount {
          color: $grayColor;
        }
      }
    }
  }
}
